<?xml version="1.0" encoding="UTF-8"?>
<!-- Open Meteo Binding -->
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
	https://openhab.org/schemas/config-description-1.0.0.xsd">
	<!-- -->
	<!-- Open Meteo Bridge -->
	<!-- -->
	<config-description uri="bridge-type:openmeteo:bridge">
		<parameter name="baseURI" type="text" required="true">
			<label>@text/config.openmeteo.bridge.baseURI.label</label>
			<description>@text/config.openmeteo.bridge.baseURI.description</description>
			<default>https://api.open-meteo.com/v1/</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="APIKey" type="text">
			<label>@text/config.openmeteo.bridge.APIKey.label</label>
			<description>@text/config.openmeteo.bridge.APIKey.description</description>
			<default></default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="refreshInterval" type="integer" min="1" unit="min">
			<label>@text/config.openmeteo.bridge.refreshInterval.label</label>
			<description>@text/config.openmeteo.bridge.refreshInterval.description</description>
			<default>60</default>
		</parameter>
	</config-description>
	<!-- -->
	<!-- Open Meteo Forecast -->
	<!-- -->
	<config-description uri="thing-type:openmeteo:forecast">
		<parameter name="location" type="text" required="true">
			<context>location</context>
			<label>@text/config.openmeteo.thing..location.label</label>
			<description>@text/config.openmeteo.thing..location.description</description>
		</parameter>

		<!-- Hourly parameters -->
		<parameter-group name="hourlyParameters">
			<label>@text/config.openmeteo.thing.forecast.hourlyParameters.label</label>
			<description>@text/config.openmeteo.thing.forecast.hourlyParameters.description</description>
		</parameter-group>

		<parameter name="hourlyHours" type="integer" groupName="hourlyParameters" min="1" max="384" step="1">
			<label>@text/config.openmeteo.thing.forecast.hourlyHours.label</label>
			<description>@text/config.openmeteo.thing.forecast.hourlyHours.description</description>
			<advanced>false</advanced>
			<default>48</default>
		</parameter>
		<parameter name="hourlyTimeSeries" type="boolean" groupName="hourlyParameters">
			<label>@text/config.openmeteo.thing.forecast.hourlyTimeSeries.label</label>
			<description>@text/config.openmeteo.thing.forecast.hourlyTimeSeries.description</description>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="hourlySplit" type="boolean" groupName="hourlyParameters">
			<label>@text/config.openmeteo.thing.forecast.hourlySplit.label</label>
			<description>@text/config.openmeteo.thing.forecast.hourlySplit.description</description>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>

		<!-- Daily parameters -->
		<parameter-group name="dailyParameters">
			<label>@text/config.openmeteo.thing.forecast.dailyParameters.label</label>
			<description>@text/config.openmeteo.thing.forecast.dailyParameters.description</description>
		</parameter-group>

		<parameter name="dailyDays" type="integer" groupName="dailyParameters" min="1" max="16" step="1">
			<label>@text/config.openmeteo.thing.forecast.dailyDays.label</label>
			<description>@text/config.openmeteo.thing.forecast.dailyDays.description</description>
			<advanced>false</advanced>
			<default>5</default>
		</parameter>
		<parameter name="dailyTimeSeries" type="boolean" groupName="dailyParameters">
			<label>@text/config.openmeteo.thing.forecast.dailyTimeSeries.label</label>
			<description>@text/config.openmeteo.thing.forecast.dailyTimeSeries.description</description>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="dailySplit" type="boolean" groupName="dailyParameters">
			<label>@text/config.openmeteo.thing.forecast.dailySplit.label</label>
			<description>@text/config.openmeteo.thing.forecast.dailySplit.description</description>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>

		<!-- Current parameters -->
		<parameter-group name="currentParameters">
			<label>@text/config.openmeteo.thing.forecast.currentParameters.label</label>
			<description>@text/config.openmeteo.thing.forecast.currentParameters.description</description>
		</parameter-group>

		<parameter name="current" type="boolean" groupName="currentParameters">
			<label>@text/config.openmeteo.thing.forecast.current.label</label>
			<description>@text/config.openmeteo.thing.forecast.current.description</description>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>

		<!-- 15-minutely parameters -->
		<parameter-group name="minutely15Parameters">
			<label>@text/config.openmeteo.thing.forecast.minutely15Parameters.label</label>
			<description>@text/config.openmeteo.thing.forecast.minutely15Parameters.description</description>
		</parameter-group>

		<parameter name="minutely15Steps" type="integer" groupName="minutely15Parameters" min="1" max="288" step="1">
			<label>@text/config.openmeteo.thing.forecast.minutely15Steps.label</label>
			<description>@text/config.openmeteo.thing.forecast.minutely15Steps.description</description>
			<advanced>true</advanced>
			<default>48</default>
		</parameter>
		<parameter name="minutely15" type="boolean" groupName="minutely15Parameters">
			<label>@text/config.openmeteo.thing.forecast.minutely15.label</label>
			<description>@text/config.openmeteo.thing.forecast.minutely15.description</description>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>

		<!-- Channel parameters -->
		<parameter-group name="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.channelParameters.label</label>
			<description>@text/config.openmeteo.thing.forecast.channelParameters.description</description>
		</parameter-group>

		<parameter name="includeTemperature" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeTemperature.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeHumidity" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeHumidity.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeDewPoint" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeDewPoint.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeApparentTemperature" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeApparentTemperature.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includePressure" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includePressure.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeCloudiness" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeCloudiness.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeWindSpeed" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeWindSpeed.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeWindDirection" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeWindDirection.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeGustSpeed" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeGustSpeed.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeShortwaveRadiation" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeShortwaveRadiation.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeDirectRadiation" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeDirectRadiation.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeDirectNormalIrradiance" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeDirectNormalIrradiance.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeDiffuseRadiation" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeDiffuseRadiation.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeVapourPressureDeficit" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeVapourPressureDeficit.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeCape" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeCape.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeEvapotranspiration" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeEvapotranspiration.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeEt0FAOEvapotranspiration" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeEt0FAOEvapotranspiration.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includePrecipitation" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includePrecipitation.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeSnow" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeSnow.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includePrecipitationProbability" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includePrecipitationProbability.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeRain" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeRain.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeShowers" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeShowers.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeWeatherCode" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeWeatherCode.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeSnowDepth" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeSnowDepth.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeFreezingLevelHeight" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeFreezingLevelHeight.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeVisibility" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeVisibility.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeIsDay" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeIsDay.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeSunrise" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeSunrise.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeSunset" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeSunset.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeSunshineDuration" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeSunshineDuration.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeDaylightDuration" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeDaylightDuration.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeUVIndex" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeUVIndex.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeUVIndexClearSky" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.forecast.includeUVIndexClearSky.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
	</config-description>

	<!-- -->
	<!-- Open Meteo Air Quality Forecast -->
	<!-- -->
	<config-description uri="thing-type:openmeteo:air-quality">
		<parameter name="location" type="text" required="true">
			<context>location</context>
			<label>@text/config.openmeteo.thing..location.label</label>
			<description>@text/config.openmeteo.thing..location.description</description>
		</parameter>

		<!-- Hourly parameters -->
		<parameter-group name="hourlyParameters">
			<label>@text/config.openmeteo.thing.air-quality.hourlyParameters.label</label>
			<description>@text/config.openmeteo.thing.air-quality.hourlyParameters.description</description>
		</parameter-group>

		<parameter name="hourlyHours" type="integer" groupName="hourlyParameters" min="1" max="168" step="1">
			<label>@text/config.openmeteo.thing.air-quality.hourlyHours.label</label>
			<description>@text/config.openmeteo.thing.air-quality.hourlyHours.description</description>
			<advanced>false</advanced>
			<default>48</default>
		</parameter>

		<parameter name="hourly" type="boolean" groupName="hourlyParameters">
			<label>@text/config.openmeteo.thing.air-quality.hourly.label</label>
			<description>@text/config.openmeteo.thing.air-quality.hourly.description</description>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>

		<!-- Current parameters -->
		<parameter-group name="currentParameters">
			<label>@text/config.openmeteo.thing.air-quality.currentParameters.label</label>
			<description>@text/config.openmeteo.thing.air-quality.currentParameters.description</description>
		</parameter-group>

		<parameter name="current" type="boolean" groupName="currentParameters">
			<label>@text/config.openmeteo.thing.air-quality.current.label</label>
			<description>@text/config.openmeteo.thing.air-quality.current.description</description>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>

		<!-- Channel parameters -->
		<parameter-group name="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.channelParameters.label</label>
			<description>@text/config.openmeteo.thing.air-quality.channelParameters.description</description>
		</parameter-group>

		<parameter name="includePM10" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includePM10.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includePM2_5" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includePM2_5.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeCarbonMonoxide" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeCarbonMonoxide.label</label>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeNitrogenDioxide" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeNitrogenDioxide.label</label>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeSulphurDioxide" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeSulphurDioxide.label</label>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeOzone" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeOzone.label</label>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeAmmonia" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeAmmonia.label</label>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeAerosolOpticalDepth" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeAerosolOpticalDepth.label</label>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeDust" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeDust.label</label>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeUVIndex" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeUVIndex.label</label>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeUVIndexClearSky" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeUVIndexClearSky.label</label>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeAlderPollen" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeAlderPollen.label</label>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeBirchPollen" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeBirchPollen.label</label>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeGrassPollen" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeGrassPollen.label</label>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeMugwortPollen" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeMugwortPollen.label</label>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeOlivePollen" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeOlivePollen.label</label>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeRagweedPollen" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeRagweedPollen.label</label>
			<advanced>false</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeEuropeanAqi" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeEuropeanAqi.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeEuropeanAqiPM10" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeEuropeanAqiPM10.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeEuropeanAqiPM2_5" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeEuropeanAqiPM2_5.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeEuropeanAqiNitrogenDioxide" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeEuropeanAqiNitrogenDioxide.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeEuropeanAqiOzone" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeEuropeanAqiOzone.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeEuropeanAqiSulphurDioxide" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeEuropeanAqiSulphurDioxide.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeUSAqi" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeUSAqi.label</label>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="includeUSAqiPM10" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeUSAqiPM10.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeUSAqiPM2_5" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeUSAqiPM2_5.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeUSAqiNitrogenDioxide" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeUSAqiNitrogenDioxide.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeUSAqiOzone" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeUSAqiOzone.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeUSAqiSulphurDioxide" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeUSAqiSulphurDioxide.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="includeUSAqiCarbonMonoxide" type="boolean" groupName="channelParameters">
			<label>@text/config.openmeteo.thing.air-quality.includeUSAqiCarbonMonoxide.label</label>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
